<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
    <h1>CREATE Booking</h1>
    <form method="post" action="/Bookings/create">
      <label for="Booking_id">Booking ID:</label>
      <input type="number" id="Booking_id" name="Booking_id">

      <label for="User_id">User ID:</label>
      <input type="number" id="User_id" name="User_id">

      <label for="Type_id">Type ID:</label>
      <input type="number" id="Type_id" name="ype_id">

      <label for="room">Room:</label>
      <input type="number" id="room" name="room">

        <input type="submit" value="Create">
    </form>
</body>
</html>