<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
    <h1>UPDATE Order</h1>
    <form method="post" action="/booking/update/<%= booking.Booking_id %>">
        <label for="Booking_id">Order ID:</label>
        <input type="text" id="Booking_id" name="Booking_id" value="<%= booking.Booking_id %>">
        <input type="submit" value="Update">
    </form>
</body>
</html>